body {
  margin: 0;
}

* {
  cursor: url(../src/assets/alternativeCursor.png) 9 7, pointer;
  cursor: url(../src/assets/alternativeCursorBlack.png) 9 7, default;
}

.MuiButton-root {
  cursor: url(../src/assets/alternativeCursor.png) 9 7, pointer;
}

.MuiButton-label {
  cursor: url(../src/assets/alternativeCursor.png) 9 7, pointer;
}

.MuiButton-root:hover {
  cursor: url(../src/assets/alternativeCursor.png) 9 7, pointer;
}

.MuiTypography-h1 {
  font-size: 3rem !important;
}

.alice-carousel__next-btn-wrapper {
  position: absolute;
  top: -2rem;
  right: 0;
}

.alice-carousel__prev-btn-wrapper {
  position: absolute;
  top: -2rem;
  right: 1rem;
}
